@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Montserrat:wght@300;400;500&family=Parisienne&family=Roboto:ital,wght@0,300;0,500;0,700;1,900&family=Staatliches&family=Titan+One&family=Ultra&family=Viaoda+Libre&family=Vidaloka&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 64px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-size: 28px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

body {
    /* background: #E5E5E5; */
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

/* .container {
    padding: 0 20px 0 60px;
    flex: 1;
} */

.main__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border: 3px solid rgb(138, 23, 23); */
}

.self.main__wrapper {
    width: 100%;
}

.main__wrapper div {
    /* border: 3px solid rgb(138, 23, 23); */
    box-sizing: border-box;
    padding: 4px;
    margin: 4px;
    min-height: 40px;
}

.main__header__container {
    padding: 0 20px 0 60px;
    flex: 1;
}

.self.content__container {
    width: 90%;
    margin: 0 auto;
}

/* ------------------------------------------ NAV-NAV ----------------------------- */

.nav__header {
    display: flex;
    padding: 20px 0 20px 0;
}

.logo__nazvanie {
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    margin-top: -15px;
}

.nav__menu a {
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav__menu a:hover {
    color: #fce38a;
}

.nav__menu ul {
    display: flex;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    justify-content: space-around;
    margin-top: -16px;
}

.self.main__nav__container {
    margin: 0;
    height: 75px;
}

.main__nav__container {
    background: slategrey;
}

.self.main__header__container {
    margin: 0;
}


.self.nav__header {
    display: flex;
}

.self.nav__logo {
    display: flex;
}

.logo__img img {
    margin-top: -72px;
}

.self.nav__menu {
    display: flex;
    margin-left: auto;
    width: 920px;
}

.nav__menu .menu {
    min-width: 710px;
    margin-left: 57px;
}

/* ========================= SEARCH ============================= */
.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-top: -55px;
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow: auto;
}

.search-input.active.autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active.autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #f2f2f2;
}

.search-input .icon {
    position: absolute;
    right: 122px;
    top: 6px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}


/* =================================== MAIN ============================== */

.main__header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/img/фффффф.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% 100%; */
    position: relative;
}

.self.header__container {
    /* padding-bottom: 24.5rem; */
}

.main__header__container .text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    letter-spacing: 3.5px;
}

.main__header__container .text h1 {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 10px;
}

.main__header__container .text p {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;

}

.main__header__container .description p {
    font-family: 'Vidaloka', serif;
    line-height: 35.2px;
    font-size: 20px;
    text-align-last: center;
    font-weight: lighter;
    letter-spacing: 3.5px;
}

.main__header__container .text a button {
    margin: 100px 0 0 0px;
    background-color: #ECECEC;
    color: #2B2B2B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 25px 60px 25px 60px;
    border-radius: 88px;
}

.main__header__container .text a button:hover {
    background-color: darkblue;
    color: #000;
    transition: 1.1s;
}

/* ============================== Time ====================== */

.main__header__container .raspisanie {
    display: flex;
    padding-top: 180px;
    justify-content: space-between;
}

.main__header__container .raspisanie .header {
    display: flex;
    justify-content: center;
}

.main__header__container .raspisanie .time {
    margin-top: -18px;
    margin-left: 8px;
}

.main__header__container .raspisanie .group_1 {}

.main__header__container .raspisanie .group_2 {}

.main__header__container .raspisanie .group_3 {}

.main__header__container .raspisanie .group_4 {}

/* ======================================== LOGS -------------------------- */

.self.main__studio__container {}

.main__studio__container {}

.main__studio__container .main_sloy {
    display: flex;
}

.main__studio__container .posit img {
    position: absolute;
    top: 97%;
    left: 0;
}

.main__studio__container .main_sloy img {
    height: 337px;
    width: 19%;
    margin-top: -54px;
}

.main__studio__container .main_sloy {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.self.studio__container {}


/* <!-- ================================= DESCRIPTION ===================================== --> */

.self.main__circle__container {
    margin: 0;
}

.main__circle__container .section__1 .main__descriptions {
    color: #CBCBCB;
}

.main__circle__container {
    background-color: #2B2B2B;
}

.main__circle__container .main__section {
    display: flex;
}

.main__circle__container .main__section a button {
    margin: 100px 0 0 20px;
    background-color: #ECECEC;
    color: #2B2B2B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 25px 60px 25px 60px;
    border-radius: 88px;
}

.main__circle__container .main__section a button:hover {
    background-color: aqua;
    color: #000;
    transition: 1.1s;
}

.main__circle__container .section__1 {
    padding-bottom: 100px;
}

.main__circle__container .section__1 .main__descriptions {
    margin-top: 250px;
}

.main__circle__container .section__1 .main__descriptions .main__text {
    font-family: 'Vidaloka';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    text-transform: uppercase;
}

.main__circle__container .section__1 .main__descriptions .text__description {
    display: flex;
    align-items: center;
    font-family: 'Vidaloka';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    width: 45%;
    margin-top: 40px;
}

.main__circle__container .section__2 {
    position: relative;
}

.main__circle__container .section__2 .img__1 {
    position: absolute;
    right: 100px;
    top: 150px;
}

.main__circle__container .section__2 .img__2 {
    position: absolute;
    right: 70px;
    top: 450px;
}

.main__circle__container .section__2 .img__3 {
    position: absolute;
    right: 350px;
    top: 320px;

}


/* =======================================        CARD              ============================= */


/*=============================================================== About */

.card {
    margin: 80px -15px 0;
    display: flex;
    justify-content: space-between;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background-color: #354744;
}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, #2B2B2B, #fce38a);
    transition: transform .2s linear;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transform: opacity .1s linear;
}

.card__text {
    width: 100%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0. -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;
    text-align: center;
}

.card__name {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    font-family: 'Vidaloka';
}

.card__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}


/* ===================================   Main-text ================================= */

.self.section__header {
    margin-top: 100px;
}

.section__header {
    margin-top: 200px;
    width: 100%;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    font-size: 30px;
    text-decoration: none;
    color: #f38181;
    line-height: 1;
    transition: background .1s linear, color .1s linear;
}

.social__item:hover {
    background: #2B2B2B;
}

/* =====================================   FOOTER ----------------------- */

.main__footer__container .footer__menu .menu ul {
    display: flex;
    justify-content: space-between;
    width: 43%;
    margin-left: 29%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.main__footer__container .icons {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 35%;
}

.main__footer__container .icons span {
    background: linear-gradient(to bottom, #2B2B2B, #6a5296);
    padding: 15px;
    border-radius: 100%;
    color: #f2f2f2;
    opacity: 0.6;

}

.main__footer__container .icons span:hover {
    background: linear-gradient(to bottom, #614444, #000000);
    /* transform: scale(-1, 1); */
    transform: scale(2);
    transition: 1s;
    opacity: 1;
}

.main__footer__container .icons a img:hover {}

.main__footer__container .footer__menu .menu ul li a {
    color: #fff;
    font-family: 'Luckiest Guy', cursive;
    font-weight: 700;
    font-size: 28px;
}


.self.main__footer__container .footer__copyright {
    text-align: center;
    margin-top: 1.5rem;
    padding: 1.2rem 0;
    font-size: 20px;
    color: #fff;
    opacity: 0.7;
}

.self.active {
    color: #fce38a;
}

.main__footer__container .menu li a :hover {
    color: blueviolet;
}