@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Parisienne&family=Roboto:ital,wght@0,300;0,500;0,700;1,900&family=Staatliches&family=Titan+One&family=Ultra&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 48px;
    line-height: 64px;
}

h2 {
    font-size: 36px;
    line-height: 48px;
}

h3 {
    font-size: 28px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 20px;
    line-height: 32px;
}

h6 {
    font-size: 16px;
    line-height: 24px;
}

body {
    /* background: #E5E5E5; */
    margin: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

/* .container {
    padding: 0 20px 0 60px;
    flex: 1;
} */

.main__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* border: 3px solid rgb(138, 23, 23); */
}

.self.main__wrapper {
    width: 100%;
}

.main__wrapper div {
    /* border: 3px solid rgb(138, 23, 23); */
    box-sizing: border-box;
    padding: 4px;
    margin: 4px;
    min-height: 40px;
}

.main__header__container {
    padding: 0 20px 0 60px;
    flex: 1;
}

.self.content__container {
    width: 90%;
    margin: 0 auto;
}

/* ------------------------------------------ NAV-NAV ----------------------------- */

.nav__header {
    display: flex;
    padding: 20px 0 20px 0;
}

.logo__nazvanie {
    font-family: 'Sen', sans-serif;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    margin-top: -15px;
}

.nav__menu a {
    color: #fff;
}

.nav__menu a:hover {
    color: #000;
}

.nav__menu ul {
    display: flex;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    justify-content: space-around;
    margin-top: -16px;
}

.self.main__nav__container {
    margin: 0;
    height: 75px;
}

.main__nav__container {
    background: slategrey;
}

.self.main__header__container {
    margin: 0;
}


.self.nav__header {
    display: flex;
}

.self.nav__logo {
    display: flex;
}

.logo__img img {
    margin-top: -72px;
}

.self.nav__menu {
    display: flex;
    margin-left: auto;
    width: 920px;
}

.nav__menu .menu {
    min-width: 710px;
    margin-left: 57px;
}

/* ========================= SEARCH ============================= */
.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-top: -55px;
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow: auto;
}

.search-input.active.autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active.autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #f2f2f2;
}

.search-input .icon {
    position: absolute;
    right: 122px;
    top: 6px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}


/* =================================== MAIN ============================== */

.main__header__container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/img/фффффф.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 100% 100%; */
    position: relative;
}

.self.header__container {
    /* padding-bottom: 24.5rem; */
}

.main__header__container .text {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
}

.main__header__container .text h1 {
    text-transform: uppercase;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 10px;
}

.main__header__container .text p {
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;

}

.main__header__container .description p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align-last: center;
    font-weight: lighter;
}

/* ============================== Time ====================== */

.main__header__container .raspisanie {
    display: flex;
    padding-top: 400px;
    justify-content: space-between;
}

.main__header__container .raspisanie .header {
    display: flex;
    justify-content: center;
}

.main__header__container .raspisanie .time {
    margin-top: -18px;
    margin-left: 8px;
}

.main__header__container .raspisanie .group_1 {}

.main__header__container .raspisanie .group_2 {}

.main__header__container .raspisanie .group_3 {}

.main__header__container .raspisanie .group_4 {}

/* ======================================== MANWOOMAN-------------------------- */

.self.main__studio__container {}

.main__studio__container {}

.main__studio__container .main_sloy {
    display: flex;
}

.main__studio__container .posit img {
    position: absolute;
    top: 97%;
    left: 0;
}

.main__studio__container .main_sloy img {
    height: 300px;
}

.main__studio__container .main_sloy {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.self.studio__container {
    padding-bottom: 69.5rem;
}